div(id=prefix class=[prefix, prefix + '--slide'] aria-hidden='true')
    div(class=prefix + '__overlay' tabindex='-1')
        div(class=prefix + '__container' role='dialog' aria-modal='true' aria-labelledby=prefix + '__title')
            header(class=prefix + '__header')
                h2(id=prefix + '__title' class=prefix + '__title')=title
            main(id=prefix + '__content' class=prefix + '__content')=content
            footer(class=prefix + '__footer')
                button(class=[prefix + '__btn', prefix + '__btn-primary'] data-micromodal-ok type='submit')=okButton
                button(class=prefix + '__btn' data-micromodal-close, aria-label='Close this dialog window')=closeButton
