- var prefix = `${ globalPrefix }__settings`

form#settings-form(class=prefix + "__form")
    section(class=prefix + '__restricted-days')
        h2(class=prefix + '__section-header')
            | Restricted days
        ul
          each val in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
              li(class=prefix + '__day-input')
                label(class=prefix + '__content-font')
                    input(type='checkbox' name='day')
                    | #{val}
    section(class=prefix + '__restricted-hours')
        h2(class=prefix + '__section-header')
            | Restricted hours
        label(class=[prefix + '__hour-input', prefix + '__content-font'])
            input#start-time-input(type='time' name='startTime' required)
            | Start time
        label(class=[prefix + '__hour-input', prefix + '__content-font'])
            input#end-time-input(type='time' name='endTime' required)
            | End time
