form(id=prefix)
    section(class=prefix + '__restricted-days')
        h2(class=prefix + '__section-header')
            | Restricted days
        ul(class=prefix + '__days-list')
          each val, index in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
              li(class=prefix + '__days-input')
                label(class=prefix + '__content-font')
                    input(type='checkbox' name='days' value=index)
                    =val
    section(class=prefix + '__restricted-hours')
        h2(class=prefix + '__section-header')
            | Restricted hours
        label(class=[prefix + '__hour-input', prefix + '__content-font'])
            input(type='time' name='startTime' required)
            | Start time
        label(class=[prefix + '__hour-input', prefix + '__content-font'])
            input(type='time' name='endTime' required)
            | End time
        label(class=[prefix + '__limit-input', prefix + '__content-font'])
            input#start-time-input(type='number' name='dailyLimit' min='0' max='24' required)
            | Hours per day (empty or 0 for unlimited)